[submodule "Assets/Plugins/MukioI18n"]
	path = Assets/Plugins/MukioI18n
	url = https://code.lotlab.org/cuerzor/MukioI18n
[submodule "Assets/Plugins/CustomBuilder"]
	path = Assets/Plugins/CustomBuilder
	url = https://code.lotlab.org/IGensokyo/CustomBuilder.git
[submodule "Assets/Plugins/tidalwav"]
	path = Assets/Plugins/tidalwav
	url = https://github.com/Cuerzor/tidalwav.git
[submodule "Assets/LanguagePack"]
	path = Assets/LanguagePack
	url = https://github.com/Cuerzor/MVZ2LanguagePack.git
